<!DOCTYPE html>
<html>
<head>
    <title>Analisis Apriori</title>
</head>
<body>
    <h2>Analisis Apriori</h2>

    <form method="POST" action="/apriori">
        <label for="start_date">Tanggal Awal:</label>
        <input type="date" id="start_date" name="start_date" required><br><br>
        
        <label for="end_date">Tanggal Akhir:</label>
        <input type="date" id="end_date" name="end_date" required><br><br>
        <label for="name">Nama Hasil:</label>
        <input type="varchar" id="name" name="name" required><br><br>
        <label for="name">minimal Support:</label>
        <input type="float" id="min_support" name="min_support" required><br><br>
        <label for="name">Minimal Confidence:</label>
        <input type="float" id="min_confidence" name="min_confidence" required><br><br>



        <input type="submit" value="Lakukan Analisis">
    </form>

    <div id="results">
        {% if results %}
            <h3>Hasil Analisis:</h3>
            <ul>
                {% for result in results %}
                    <li>{{ result }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <button onclick="window.location.href='{{ url_for('asosiasi_list') }}'">Kembali ke Daftar Asosiasi</button>
</body>
</html>
